@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>specialty-specific</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
          <h1> @Model["newSpecialty"].GetSpecialtyName() </h1>
        }
      </div>
        <hr>
        <h3>Stylists that have this specialty:</h3>
        @if(Model["stylistList"].Count != 0)
        {
          @foreach(Stylist stylist in @Model["stylistList"])
          {
           <h5><a href="/stylist/@stylist.GetStylistId()"> @stylist.GetStylistName() </a></h5>
          }
        }
        <hr>
        <h3> Add stylist to this specialty </h3>
        <form action="/specialty/@Model["newSpecialty"].GetSpecialtyId()/stylist/new" method="post">
          <label for="stylistId">Select a Stylist:</label>
          <select name="stylistId">
            @foreach(var stylist in @Model["allStylists"])
            {
              <option value="@stylist.GetStylistId()">@stylist.GetStylistName()</option>
            }
          </select>
          <button type="submit" class="btn btn-info" name="button">Add</button>
        </form>
        <hr>
        <a href="/specialty/delete/@Model["newSpecialty"].GetSpecialtyId()">Delete Specialty</a>
        </form>
          <hr>
          <h3><a href="/specialty">Back to Specialty Directory</a></h3>
          <br>
          <h3><a href="/">Back to home</a></h3>
    </div>
  </body>
</html>
