@using HairSalon.Models
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>stylist-specific</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
          <h1>@Model.GetStylistName()</h1>
          <h3>Phone Number: @Model.GetStylistNumber()</h3>
          <h3>Years of Experience: @Model.GetStylistTenure()</h3>
          <h3>Specialty: @Model.GetStylistSpecialty()</h3>
      	   <h3>Client List:</h3>
				}
				<hr>
      </div>
      <hr>
      <h4>Add a client to this stylist.</h4>
        <form action="/client/create" method="post">
          <hr>
          <label for="clientName">Name</label>
          <input type="text" name="clientName">
          <input type="hidden" name="stylistId" value="@Model.GetStylistId()">
          <button type="submit" class="btn btn-success">Submit</button>
        <hr>
      <a href="/stylist">Back to the directory of stylists</a>
    </div>
  </body>
</html>
