@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>stylist-specific</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
          <h1>@Model.GetStylistName()</h1>
          <h3>Phone Number: @Model.GetStylistNumber()</h3>
          <h3>Years of Experience: @Model.GetStylistTenure()</h3>
        }
      </div>
      <hr>
        <h3>Clients assigned to this stylist:</h3>
        @if(Model!=null)
        {
          foreach(var client in Model.GetClients())
          {
            <h5>@client.GetClientName()</h5>
          }

        }
        <hr>
        <h2>Add client to this stylist</h2>
        <form action="/client/create" method="post">
          <label for="clientName">Name</label>
          <input type="text" name="clientName">
          <input type="hidden" name="stylistId" value="@Model.GetStylistId()">
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <hr>

      <hr>
      <form action="/stylist/delete" method="post">
      <button type="submit" class="btn btn-danger">Delete this stylist</button>
      </form>
      <hr>
      <h3><a href="/stylist">Back to stylist directory</a></h3>
    </div>
  </body>
</html>
