@using HairSalon.Models;
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>stylist-specific</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        @if(Model!=null)
        {
            <h1>@Model["newStylist"].GetStylistName()</h1>
            <h3>@Model["newStylist"].GetStylistNumber()</h3>
            <h3>Years of Experience: @Model["newStylist"].GetStylistTenure()</h3>
        }
      </div>
      <hr>
        <h3>Clients assigned to this stylist:</h3>
        @if(Model!=null)
        {
          foreach (var client in Model["clientList"])
          {
            <h5>@Model.["clientList"].GetClientName()</h5>
          }
        }
      </form>
        <hr>
        <h3>Add Specialty:</h3>
          <form action='/stylist/specialty/add/@Model["newStylist"].GetStylistId()' method="post">
            <select name = "addSpecialty" required>
              <option selected disabled value="specialty"></option>
              @if(Model!=null)
              {
                foreach (var specialty in Model ["specialtyList"])
                {
                  <option value=@specialty.GetSpecialtyId()>@specialty.GetSpecialtyName()</option>
                }
              }
            </select>
        <button class="btn btn-info" type="submit">Add specialty</button>
      </form>
        <h2>Add client to this stylist</h2>
        <form action='/stylist/client/add/@Model["newStylist"].GetStylistId()' method="post">
          <select name="addClient" required>
            <option selected disabled value="client"></option>
            @if (Model!=null)
            {
              foreach (var client in @Model["allClients"])
              {
                <option value=@client.GetClientId()>@client.GetClientName()</option>
              }
            }
          </select>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
          <hr>
          <form action='/stylist/delete/@Model["newStylist"].GetStylistId()' method="post">
            <button class="btn btn-danger" type="submit">Delete Stylist</button>
          </form>
          <hr>
          <h3><a href="/stylist">Back to stylist directory</a></h3>
          <br>
          <h3><a href="/">Back to home</a></h3>
    </div>
  </body>
</html>
